.nav-container {
    position: fixed;
    top: 0px;
    display: flex;

    width: 100%;
    z-index: 99999;
    margin: auto;
    background-color: #337ab7;
    height: 50px;

}

.nav-links{

    width: 100%;
   display: inline-flex;
    margin: auto 0 auto 20px;
    justify-content: left;
    color: white;
    transition: 0.2s;

}
.unapproved_posts {

    color: red;
}
.nav-link:hover {
    text-shadow: #337ab7;
    text-decoration: none;
    user-select: none;
    transition: 0.2s;
}
.nav-profile-container {
    display: inline-flex;
    justify-content: right;
    width:300px;
    margin-right: 20px;
}

.profile-box, .nav-links-box {
    display: flex;







}
.cat_container {
    margin: auto;
    background-color: #337ab7;
    text-align: center;
    display: none;
    flex-direction: column;
    animation: navMenuSlideDown 0.3s forwards;


}
.nav_mobile {
    animation: navMenuSlideDown 0.3s forwards;
    padding-top: 15px;
    height: auto;
    background-color: #337ab7;
    width: 100%;
    display: none;
    flex-direction: column;
    position: fixed;
}
.nav-link {
    cursor: pointer;
    flex-direction:row;
    color: white;
    padding: 10px;
    display: inline-block;

}
.mobile_cat_link {
    color: rgb(180, 179, 179);
}
.profile-box-components {
    display: flex;
    flex-direction: row;
    color: white;


}
.profile-box-component {
    padding-left: 25px;
    margin: auto;
}
.profile_img_main {
    margin: auto;
}
.nav-profile-container {

}
.hamb {
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(211deg) brightness(111%) contrast(100%);
    display: none;
    margin: auto;
}
.user_picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;


}
.posts_images {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.user_content {

}
.row-user {
    padding: 50px 0;

}
.user_line {
    border: 10px solid #337ab7;
    min-height: 0px;


}
.user_col {
    width: 100%;


    display: flex;
    flex-direction: row;
}
.user_info {
    margin-left: 30px;

}
.user_desc {
    margin-top: 30px;
    width: 60%;
    text-align: left;
}
.right_widget_nav {

}
textarea {
    resize: none;
}
.posts_img {
    width: 100%;
    height: 500px;
    object-fit: cover;

}
.notification_cont {
    position: relative;
}
.notification_text {
    font-weight: bold;
    color:#337ab7;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.notification_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.comment_field {
    resize: none;
}
.unapproved_post {
    width: 100%;
    position: relative;
}
.unapproved_text {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.unapproved_img_post {
    filter: brightness(0.3);
}
.post_img {
    width: 1000px;
    height: 600px;
    object-fit: cover;

}
@media only screen and (max-width: 600px) {

    .user_col {
       flex-direction: column;
    }
    .user_info {
        margin-top: 10px;
        margin-left: 0px;

    }
    .user_desc {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .nav-links-box {
      display: none;
    }
    .hamb {

        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;

    }
    .profile-box-components {
        flex-direction: column-reverse;
    }
    .nav-container {
        height: 44px;
    }
    .nav-profile-container {
        width: 100%;
    }
    .nav-links {

    }

}
@media only screen and (max-width: 500px) {

    .nav-profile-container {
        display: none;
    }
}

@media only screen and (max-width: 400px) {

    .nav-links{
       display: flex;
       flex-direction:column;

    }

    .nav-link {
        padding: 0px;
        display: table;
        margin: auto
    }
    .nav-links{
        display: table;
        margin: auto;

    }
}
@keyframes navMenuSlideDown {
    0%{
        transform:translateY(-100px)
    }

    100% {
        transform:translateY(0px)
    }



}
@keyframes navMenuSlideDownBackwards {
    100%{
        transform:translateY(-100px)
    }

    0% {
        transform:translateY(0px)
    }



}